<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container py-3">
      <div class="row">
        <div class="col-3">
          <h3>Menu</h3>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="/">Homepage</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/users">User management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/roles">Role management</a>
            </li>
          </ul>
        </div>
        <div class="col-9"><%- body %></div>
      </div>
    </div>
  </body>
</html>
