<h1 class="d-flex justify-content-center mt-5">Reset Password Page</h1>
<div class="d-flex justify-content-center mb-3">
  <span class="text-danger"><% if (msg?.length) { %> <%= msg %> <% } %> </span>
</div>
<main class="form-signin w-50 m-auto">
  <form action="" method="post">
    <div class="form-floating mb-3">
      <input
        class="form-control"
        type="password"
        name="password"
        id="floatingNewPassword"
        placeholder="New password..."
      />
      <label for="floatingNewPassword">New password...</label>

      <span class="text-danger"><%= req?.errors?.password %></span>
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        type="password"
        name="password2"
        id="floatingNewPassword2"
        placeholder="Re-enter new password..."
      />
      <label for="floatingNewPassword2">Re-enter new password...</label>

      <span class="text-danger"><%= req?.errors?.password2 %></span>
    </div>

    <button class="btn btn-primary w-100 py-2 mb-3">Reset your password</button>
    <a href="/" class="btn btn-danger w-100 py-2 mb-3">Cancel</a>
  </form>
</main>
