<h1>Role management</h1>
<a href="/roles/add" class="btn btn-primary mb-2">Add</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="5%">Order</th>
      <th>Name</th>
      <th width="5%">Edit</th>
      <th width="5%">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% roles.forEach((role, index) => { %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= role.name %></td>
      <td>
        <a href="/roles/edit/<%= role.id %>" class="btn btn-warning">Edit</a>
      </td>
      <td>
        <form
          action="/roles/delete/<%= role.id %>"
          method="post"
          onsubmit="return confirm('Are you sure?')"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
